{% extends 'base2.html' %}
{% load crispy_forms_tags %}

{% block body %}
<br>
<br>
<br>
<br>
 

<div class="signup-form">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <h2>Change password for @{{ form.user.username }}</h2>

        <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">retun Now</button>
        </div>
    </form>
</div>

{% endblock body %}
